.favorite-card {
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.favorite-card h4 {
  color: white;
  font-weight: 300;
  margin-bottom: 15px;
}

.favorite-card-image--container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 300px;
}

.favorite-card-image--container > img {
  max-height: 450px;
  max-width: 300px;
}
