@import "../../App.css";

.characters--page {
  padding-top: 100px;
  width: 100%;
  background-color: var(--light-black);
  min-height: calc(100vh - 99px);
}

.characters-list--container {
  max-width: 1440px;
  /* width: 1440px; */
  margin: auto;
  border: 1px solid green;
}

.characters-list {
  border: 1px solid blue;
  gap: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}
