@import "../../App.css";

header {
  background-color: var(--black);
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header--container {
  margin: 0 auto;
  max-width: 1440px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.header-left--container {
  flex: 3;
  display: flex;
  gap: 15px;
}

.header-right--container {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logo--container {
  max-width: 150px;
  max-height: 60px;
  max-height: 100%;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo--container img {
  max-width: 100%;
}

.navigation-bar {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: auto;
  margin-right: 15px;
}

.navigation-button {
  text-decoration: none;
  background-color: var(--red);
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.category--navigation-bar {
  height: auto;
  width: auto;
  display: flex;
}

.category--navigation-bar .category--navigation-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  border: 1px solid #333333;
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 18px;
  padding: 0 30px;
  cursor: pointer;
}

.category--navigation-bar .category--navigation-button:first-child {
  border-radius: 15px 0 0 15px;
}

.category--navigation-bar .category--navigation-button:last-child {
  border-radius: 0 15px 15px 0;
}

.category--navigation-bar .category--navigation-button.selected {
  background-color: #2c2e2e;
  transition-duration: 0.7s;
}

.category--navigation-bar .category--navigation-button.not-selected {
  transition-duration: 0.7s;
  background-color: var(--black);
}

.account-buttons--container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.account-buttons--container .login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 41px;
  width: 41px;
  border-radius: 50%;
  color: white;
  border: 1px solid #333333;
  background-color: #2c2e2e;
  cursor: pointer;
}

@media (max-width: 1024px) {
  header {
    height: 120px;
  }
  .header--container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 720px) {
  header {
    height: 145px;
  }
  .header-right--container {
    display: flex;
    flex-direction: column;
  }
}
